@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title.</h2>

<p>Ut quis semper tellus. Donec tristique facilisis diam quis lobortis. Proin in velit neque. Suspendisse facilisis ornare velit et ultrices. Pellentesque sodales sagittis turpis sed sodales. Quisque sit amet purus vel ex venenatis bibendum. Ut aliquam, lorem iaculis lobortis rhoncus, arcu ipsum bibendum leo, vitae consequat dolor ligula nec elit.</p>
