@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h2>Kontakt</h2>


    <address>
        Fabryka<br />
        Warszawa, ul.Dąbrowskiego 2<br />
        <abbr title="Phone">Telefon:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:SupportFabryka@example.com">SupportFabryka@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:MarketingFabryka@example.com">MarketingFabryka@example.com</a>
    </address>

</div>