@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fabryka</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel tempus odio, non cursus nisi. Proin rhoncus metus vel condimentum ultrices.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">View more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Vestibulum aliquet quam et blandit interdum. Suspendisse non ipsum fermentum, blandit ligula nec, dictum nulla.
            Integer dictum ante ut libero faucibus elementum. Sed elementum lobortis sodales.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>Pellentesque aliquet turpis in convallis mollis. Maecenas nec est auctor erat dignissim aliquam.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Fusce pellentesque mi vitae felis convallis, eget facilisis erat consequat. Vivamus ac eros arcu</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>